.container {
    margin: 5em 8em;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
    float: right;
}

.orange {
    background-color: #0048ff;
}

.white-text {
    color: white;
}

.table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.post {
    background-color: rgb(216, 216, 216);
    padding: 10px;
}

.post img {
    float: left;
    margin: 10px;
}

body {
    margin: 0;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

nav {
    padding: 2em 2em;
    box-shadow: 1px 2px 2px silver;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-left: 1.5em;
    text-shadow: 1px 1px 1px gray;
}

p a {
    text-decoration: none;
    color: #e65100;
}

footer {
    padding: 1em 1em;
    box-shadow: 1px 2px 2px silver;
}

/* .footer-register {
    margin-top: 100px;
} */

.user-post {
    border: solid black 1px;
    padding: 10px 30px;
    margin-bottom: 25px;
}

.user-post h3 {
    text-align: center;
}

.user-post .foto-profile {
    float: left;
    margin: 10px;
}

.user-post .close-button {
    float: right;
    margin: 10px;
    width: 32px;
    position: relative;
    top: -100px;
    right: -30px;
    cursor: pointer;
}